.projectsGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projectCard {
  position: relative;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  padding: 30px 30px 100px 30px;
  width: 100%;
  text-align: center;
  color: #eaeaea;
  box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.205);
  transition: all 0.3s ease;
  margin-bottom: 20px;
}


.projectCard h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 900;
}

.projectCard p {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 90%; /* Limit the width of the description */
  margin-left: auto;
  margin-right: auto; /* Center the description text */
}

.projectImage {
  width: 100%; /* Make the image responsive */
  height: auto;
  max-width: 500px; /* Ensure the image doesn't stretch too wide */
  border-radius: 4px;
  margin-bottom: 20px;
}

.projectCard a {
  display: flex;
  flex-direction: column;
  color: #4caf50;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.projectCard a:hover {
  color: #eaeaea;
}

.demoLink img, .githubLink img{
  width: 30px;
}

.demoLink img:hover, .githubLink img:hover{
transform: scale(1.1);}

.iconos{
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 15px;
  left: 15px;
}


.rightSide{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
}

.technologies{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.technology img{
  width: 50px;
  height: 50px;
  padding: 15px;
}

.technology img:hover{
transform: scale(1.1);
}




@media (max-width: 768px) {
  .projects {
    padding: 60px 10px; /* Adjust padding for smaller screens */
  }

  .projectsGrid {
    flex-direction: column; /* Stack the project cards vertically */
    gap: 30px; /* Increase gap between stacked cards */
  }

  .projectCard {
    flex-direction: column; /* Stack the image and text vertically */
    padding: 20px;
    max-width: 100%; /* Allow the card to take the full width */
  }

  .projectImage {
    max-width: 100%; /* Ensure the image scales well */
    margin-bottom: 10px; /* Reduce space between image and text */
  }


  .projectCard p {
    font-size: 13px; /* Adjust font size for smaller screens */
  }

  .projectCard a {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .technologies{
    margin: 30px 0px;
  }

  .technology img{
    width: 30px;
    height: 30px;
    padding: 2px;

  }
}
