.footer {
    background-color: #121212;
    padding: 20px 0px;
    text-align: center;
  }
  
  .footer p {
    color: #eaeaea;
    margin: 10px;
  }
  
  
  .CamilayAnnie {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 10px;
  }

  .CamilayAnnie a{
    color: white;
    text-decoration: none;
  }

  .CamilayAnnie a:hover{
    text-decoration: underline;
    color: #69a06f; 
  }